{% extends 'base.html.twig' %}

{% block title %}Hello {{ email }}!{% endblock %}

{% block body %}
    <div class="container-md m-5">
        {% if  form | default() %}
            <h1>Hello {{ email }}!</h1>

            <h3>Please enter your new password bellow:</h3>
            {{ form(form) }}
        {% else %}
            <h1>Hello {{ email }}!</h1>

            <h3>Your password have been changed!</h3>
            <h5>From now you may login with your new password!</h5>
        {% endif %}
    </div>
{% endblock %}
