{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminUsersController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello admin! ✅</h1>

    These are users from DB:
    <table class="table-bordered">
        <tr>
            <th>email</th>
            <th>Name</th>
            <th>ROLES</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>
                    {%  for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
