{% extends 'base_admin.html.twig' %}

{% block title %}User form{% endblock %}

{% block body %}
    <div class="container-md m-5">
        <h3>Update user bellow:</h3>
        {{ form(form) }}
    </div>
{% endblock %}
