<h1>Hello {{ mail }}!</h1>

<p>We have received a request to change your password on our site.</p>
<p>If this request is not made by you - no action from your part is required</p>
<p>If you request this change please follow the attached link to make the changes</p>
<p><a href="{{ resetlink }}">Change password</a>
    (this link is valid until {{ expiration_date|date('d.m.Y H:i:s') }})</p>
