{% extends 'base_admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>You have no rights to access this page</h1>

        <p>You don't have sufficient permissions to access this page.</p>
        <p>Please contact our administrator to receive more permissions.</p>

        <p class="mt-5"><a class="btn-sm btn-info" href="{{ path('app_admin') }}">Return to admin homepage</a></p>

        <p class="small text-info">The server returned an error: {{ status_code }}</p>
        <p class="small text-info">Error message is {{ status_text }}</p>
    </div>
{% endblock %}