{% extends 'base_admin.html.twig' %}

{% block title %}Building form{% endblock %}

{% block body %}
    <div class="container-md m-5">
        <h3>Please enter your new building:</h3>
        {{ form(form) }}
    </div>
{% endblock %}
